@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Bungee-Regular'; /* இந்த பெயரை நீங்கள் JSX-ல் பயன்படுத்துவீர்கள் */
  src: url('/src/fonts/Bungee-Regular.woff2') format('woff2'), /* உங்களுக்கு .woff2 format இருந்தால் இது சிறந்தது */
       url('/src/fonts/Bungee-Regular.woff') format('woff'),
       url('/src/fonts/Bungee-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular weight */
  font-style: normal;
  font-display: swap; /* Font load ஆகும் வரை fallback font-ஐ காட்டும் */
}
